.single-image {
    height: 200px;;
    width: fit-content;
    border-style: solid;
    border-width: 3px ;
    cursor: pointer;
    display: block;
    margin: 5px;
}

.unclickable {
    cursor: unset;
    opacity: 70%;
    pointer-events: none;
}

.counter {
    position: relative;
    left: 80px;
    bottom: 25px;
    color: red;
}